
.catalogFilterBtn{
    width: 100%;
    right: 0;
    position: relative;
    height: auto;
    overflow: hidden;
    background-color: white;

    box-sizing: border-box;
    display: flex;
    justify-content: end;
    padding-left: 5%;
}
.catalogFilterBtnContainer{

    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 0;
    width:95%;
    height: 7.5vh;
    border-bottom:1px solid rgba(0, 0, 0 , 0.25);
}
.catalogFilterBtnContainer > p {
    margin: 0;
    font-size: clamp(1rem , 4vw , 1.5rem);

}
.catalogFilterBtnContainer.active > p{
    font-weight: 600;
 }

.filterArrowBtn{
    height: 30%;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    position: relative;
    padding: 0;
    transition: 0.5s ease-in-out;
    transform: rotate(-90deg);

}
.filterArrowBtn > div{
    width: 60%;
    height: 1px;
    background-color: black;
    position: absolute;
}
.filterArrowBtn > div:first-child{

    transform: rotate(-45deg);
    right: 0;


}
.filterArrowBtn > div:last-child{

    transform: rotate(45deg);
    left: 0;
}