@media screen and (max-width: 767px) {

.filterOptionContaianer {
    font-size: 2rem;
}
.filterOptionBtn{
    width: 100%;
    right: 0;
    position: relative;
    height: auto;
    overflow: hidden;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    padding-left: 5%;
    min-height: 7.5vh;
}

.filterOptionBtnContainer{
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    right: 0;
    width:100%;
    height: 7.5vh;
    position: relative;
    font-size: clamp(0.75rem , 4vw , 1.5rem);
    z-index: 2;
    box-sizing: border-box;
    border-bottom:1px solid rgba(0, 0, 0 , 0.125);
}
.filterOptionBtnContainer > p{
   margin: 0;
}



.colorDiv{
    height: 50%;
    aspect-ratio: 1;
    border-radius: 100%;
    margin-right:1rem;
    opacity: 0.8;
}
.filterOptionBtn.selected{
    font-weight: 600;
}
.filterOptionBtn.selected .check {
    display: flex;
}
.check{
    margin: 2%;
    position: relative;
    height:  35%;
    aspect-ratio: 1;
    margin: 0;
    margin-left:auto ;
    display: none;
 }
 .check::before {
    content: "";
    position: absolute;
    width: 15%;
    top: 40%;
    height: 50%;

    background-color:  rgb(64,64,64);
    transform: translateX(12px) rotate(-45deg);
    transform-origin: left bottom;
    z-index: +1;
 }
 .check::after {
    content: "";
    position: absolute;
    bottom: 10%;
    height: 15%;
    width: 100%;
    background-color:  rgb(64,64,64);
    transform: translateX(12px) rotate(-45deg);
    transform-origin: left bottom;
 }

.priceBtn{
  height:75%;
  aspect-ratio: 1/0.65;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0 , 0.85);
  font-size: clamp(0.75rem , 4vw , 1.5rem);
  padding: 0;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}
.priceBtn.active {
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0 , 0.75);
}
.filterOptionBtnContainer.price {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
.priceWrapper{
  width: 100%;
  height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.priceWrapper > p {
  font-weight: 600;
  font-size: clamp(1rem , 5vw , 1.5rem);
  margin: 0;
}








 .inputWrapper{
    width: 100%;
    margin: 0;
    margin-left: auto;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: start;
    height: 50%;
    position: relative;
   
 }   
 #priceInput{
    height: 50%;
    width: 80%;
    top: 0%;
    
 }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #B5B5B5;
    background: #DBDBDB;
    border-radius: 37px;
    border: 0px solid #18D501;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow:inset 0px 0px 0px 99px #48484A;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -4px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #DBDBDB;
  }

 datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
  
  option {
    padding: 0;
    display: flex;
    opacity: 0.75;
    font-size: clamp(0.5rem ,3.5vw , 1.5rem);
  }
  
  input[type="range"] {
    width: 100%;
    margin: 0;
  }

}







@media screen and (min-width: 768px) {

  .filterOptionBtn{
      width: calc(100% - 1rem);
      border: none;
      right: 0;
      position: relative;
      height: auto;
      overflow: hidden;
      background-color: white;
      box-sizing: border-box;
      display: flex;
      justify-content: end;
      padding-left: 1rem;
      min-height: 7.5vh;
      cursor: pointer;
  }
  
  .filterOptionBtnContainer{
      padding-right: 5%;
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: row;
      right: 0;
      width:100%;
      height: 7.5vh;
      position: relative;
      font-size: clamp(1rem , 1.25vw , 1.25rem);
      z-index: 2;
      box-sizing: border-box;
      border-bottom:1px solid rgba(0, 0, 0 , 0.125);
  }
  .filterOptionBtnContainer > p{
     margin: 0;
  }
  
  
  
  .colorDiv{
      height: 50%;
      aspect-ratio: 1;
      border-radius: 100%;
      margin-right:1rem;
      opacity: 0.8;
  }
  .filterOptionBtn.selected{
      font-weight: 600;
  }
  .filterOptionBtn.selected .check {
      display: flex;
  }
  .check{
      margin: 2%;
      position: relative;
      height:  35%;
      aspect-ratio: 1;
      margin: 0;
      margin-left:auto ;
      display: none;
   }
   .check::before {
      content: "";
      position: absolute;
      width: 15%;
      top: 40%;
      height: 50%;
  
      background-color:  rgb(64,64,64);
      transform: translateX(12px) rotate(-45deg);
      transform-origin: left bottom;
      z-index: +1;
   }
   .check::after {
      content: "";
      position: absolute;
      bottom: 10%;
      height: 15%;
      width: 100%;
      background-color:  rgb(64,64,64);
      transform: translateX(12px) rotate(-45deg);
      transform-origin: left bottom;
   }
  
  .priceBtn{
    height:75%;
    aspect-ratio: 1/0.65;
    border-radius: 2px;
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0 , 0.85);
    font-size: clamp(0.75rem , 1.25vw , 1.5rem);
    padding: 0;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .priceBtn.active {
    font-weight: 600;
    color: white;
    background-color: rgba(0, 0, 0 , 0.75);
  }
  .filterOptionBtnContainer.price {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
  }
  .priceWrapper{
    width: 100%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .priceWrapper > p {
    font-weight: 600;
    font-size: clamp(1rem , 1.5vw , 1.5rem);
    margin: 0;
  }
  
  
  
  
  
  
  
  
   .inputWrapper{
      width: 100%;
      margin: 0;
      margin-left: auto;
      display: flex;
      flex-direction:column ;
      align-items: center;
      justify-content: start;
      height: 50%;
      position: relative;
     
   }   
   #priceInput{
      height: 50%;
      width: 80%;
      top: 0%;
      
   }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 80%;
      height: 8px;
      cursor: pointer;
      box-shadow: 1px 1px 3px #B5B5B5;
      background: #DBDBDB;
      border-radius: 37px;
      border: 0px solid #18D501;
    }
    input[type=range]::-webkit-slider-thumb {
      box-shadow:inset 0px 0px 0px 99px #48484A;
      height: 20px;
      width: 20px;
      border-radius: 50px;
      cursor: pointer;
      margin-top: -4px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #DBDBDB;
    }
  
   datalist {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
    }
    
    option {
      padding: 0;
      display: flex;
      opacity: 0.75;
      font-size: clamp(0.5rem ,1vw , 1rem);
    }
    
    input[type="range"] {
      width: 100%;
      margin: 0;
    }
  
  }