.productContainer{
    width: 100%;
    height:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: relative;
}
.productContainer > img {
    width: 100%;
    height: 80%;   
    object-fit: cover;
    object-position: top;
}
.productContainer > p {
    z-index: 2;
    margin-top: 0.5rem;
    white-space: normal;
    margin-bottom: 0;
    font-size: clamp(10px,4.5vw,25px);
}
.productContainer > p:nth-child(3){
    font-weight: 600;
    font-size: clamp(10px,4.5vw,25px);
}