.emptyCartContainer{
    background-color: #FFF;
    width: 100%;
    margin-top: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5%;
}
.emptyCartContainer > img {
    width: 40vw;
    object-fit: cover;
}

.emptyCartText{
    font-weight: 700;
    color: rgba(0, 0, 0 , 0.75);
    font-size: clamp(15px , 5.5vw , 30px);
    margin-bottom: 0.5rem;
}
.goShoppingBtn{
    width:  40vw;
    aspect-ratio: 3/1;
    color: rgba(0, 0, 0 , 0.75);
    background-color: transparent;
    border:2px solid rgba(0,0,0,0.75);
    font-weight: 700;
    font-size: clamp(15px , 4.5vw , 30px);
    border-radius: 2px;
    margin-top: 0.5rem;
}
.goShoppingBtn:active {
    background-color: rgba(0,0,0,0.05);
}