
.menuContainer{
    background-color:  white;
    border-right: 1px solid rgba(0, 0, 0,0.75);
    z-index: 9;
    box-sizing: border-box;
    position: absolute;
    width: 75vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translate(-100%);
    transition: transform 0.25s ease-in-out;
}
.menuContainerShadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0 , 0.5);
    z-index: -1;
    transition: 0.25s ease-in-out;
}
.menuContainerContent{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 7.5vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 1;
}
.menuContainer.open {
    transform: translate(0);
}
.menuContainer.open .menuContainerShadow{
    width: 100vw;
}




.menuBigBtn{
    width: 90%;
    font-size: clamp(0.75rem , 6vw , 1.5rem);
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    letter-spacing: 0.25vw;
    color:rgba(0, 0, 0 , 0.85);
    margin-bottom: 1rem;
    background-color: rgb(223,223,223);
    border: none;
    justify-content: start;
    position: relative;
    overflow: hidden;

}
.menuBigBtn > img{
   height: 100%;
   right: 0;
   bottom: 0;
   object-fit: cover;
   object-position: 0% 0%;
    position: absolute;
    aspect-ratio: 1.5/1;
}
.menuBigBtn:first-child > img{
    aspect-ratio: 2/1;
    right: -7.5%;
    object-position: 100% 0%;
}

.menuSignInContainer{
    width: 100%;
    background-color: rgb(223,223,223);
    box-sizing: border-box;
    font-size: clamp(0.75rem , 4vw , 1.5rem);
    color:rgba(0, 0, 0 , 0.85);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 5%;
}
.menuSignInContainer > a {
    text-decoration: underline;
}

.menuSmallBtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5%;
    box-sizing: border-box;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: clamp(0.75rem , 4vw , 1.5rem);
    color:rgba(0, 0, 0 , 0.85);
    background-color: white;
    border: none;
    position: relative;
}
.menuSmallBtn::after{
    content: '';
    width: 95%;
    height: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:  rgb(223,223,223);
}

.menuSmallBtn > img{
    width:10%;
    aspect-ratio: 1;
    margin-right: 2.5%;
}