


@media screen and (max-width: 767px) {

.cartPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;

}
.cartPageHeader{
    margin: 0;
    width: 100%;
    padding: 1rem 5vw 1rem 5vw;
    background-color: white;
    margin-bottom: 1rem;
    box-sizing: border-box;
    text-align: start;
    color:rgba(0,0,0,0.85);
    font-weight: 600;
    font-size: clamp(1rem , 4.5vw , 1.75rem);
}
.cartPageItemsContainer{
    width: 100%;
    height: fit-content;
}
.checkoutContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem 5vw 1rem 5vw;
    background-color: white;
    margin-top: 1rem;
}
.checkoutItemsAmount{
    margin-top: 0;
    font-size: clamp(10px , 4vw , 30px);
}
.checkoutItemsAmount > span {
    font-weight: 600;
}
.checkoutAmount{
    margin-top: 0;
    font-size: clamp(10px , 4vw , 30px);
}
.checkoutAmount > span {
    font-weight: 600;
}
.checkoutBtn{
    width: 100%;
    aspect-ratio: 1/0.15;
    border: none;
    background-color: rgb(0, 141, 75);
    color: white;
    font-size: clamp(10px , 4vw , 30px);
    font-weight: 600;
}


}







@media screen and (min-width: 768px) {

    .cartPage{
        display: grid;
        grid-template-columns: 60% calc(40% - 1rem);
        gap: 1rem;
        width: 100%;
        padding-left: 20vw;
        padding-right: 20vw;
        padding-top: 1rem;
        box-sizing: border-box;
        overflow: hidden;
        min-height: 90vh;
    
    }
    .cartPageHeader{
        margin: 0;
        width: 100%;
        padding: 1rem;
        background-color: white;
        margin-bottom: 1rem;
        box-sizing: border-box;
        text-align: start;
        color:rgba(0,0,0,0.85);
        font-weight: 600;
        font-size: clamp(0.75rem , 1.25vw , 2rem);
    }
    .checkoutContainer{
    
        width: 100%;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 1rem;
        background-color: white;
        height: fit-content;
    }

    .checkoutHeader{
        font-size: clamp(0.75rem , 1.25vw , 2rem);
        margin: 0;
        border-bottom: 1px solid rgba(0,0,0,0.125);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }
    .checkoutItemsAmount{
        margin-top: 0;
        font-size: clamp(0.75rem , 1vw , 1.5rem);
    }
    .checkoutItemsAmount > span {
        font-weight: 600;
    }
    .checkoutAmount{
        margin-top: 0;
        font-size: clamp(.75rem , 1vw , 1.5rem);
    }
    .checkoutAmount > span {
        font-weight: 600;
    }
    .checkoutBtn{
        width: 100%;
        aspect-ratio: 1/0.15;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: none;
        background-color: rgb(0, 141, 75);
        color: white;
        font-size: clamp(0.75rem , 1vw , 1.5rem);
        font-weight: 900;
        cursor: pointer;
    }
    
    }