.productScreen{
    width: 100%;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.productScreen > img {
    width: 100%;
    aspect-ratio: 1/1.25;
    object-fit: cover;
    object-position: center;
}
.productContent {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}
.productName{
    font-weight: 600;
    font-size: clamp(0.6rem , 6vw , 1.75rem);
    color: rgba(0, 0, 0 , 0.85); 
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
