.productScreen{
    width: 100%;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.productScreenImgWrapper{
    width: 100%;
    aspect-ratio: 1/1.25;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}
.productScreenImgWrapper::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(50,50,125,0) 50%);
}
.productImg {
    width: 100%;
    height: 100%;
    filter:sepia(0.125) , saturate() , contrast(0.85) ;
    object-fit: cover;
}
.productScreenImgWrapper > p {
    position: absolute;
    bottom: 0;
    left: 5%;
    color: white;
    z-index: 2;
}
.productContent {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}
.productName{
    font-weight: 600;
    font-size: clamp(0.6rem , 6vw , 1.75rem);
    color: rgba(0, 0, 0 , 0.85); 
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
