

@media screen and (max-width: 767px) {
.catalogProductsContainer{
    background-color: white;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    padding-bottom: 2rem;

}
.catalogProductsContainer > p {
width: 100%;
padding-left: 5%;
padding-right: 5%;
box-sizing: border-box;
font-size: 1.5rem;
}
.catalogProductsContainer > div {
    padding-bottom: 2rem;
}
.catalogProduct{
    width: 44vw;
    margin-left: 2vw;
    margin-right: 2vw;
    aspect-ratio: 9/16;
}

}


@media screen and (min-width: 768px) {

.catalogContainer{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

    .catalogProductsContainer{
        background-color: white;
        width: 75%;
        padding-left: 2.5vw;
        box-sizing: border-box;
        padding-right: 2.5vw;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.875vw;
    
        padding-bottom: 2rem;
    
    }
    .catalogProductsContainer > p {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    font-size: 1.5rem;
    }
    .catalogProductsContainer > div {
        padding-bottom: 1rem;
    }
    .catalogProduct{
        width: 12.5vw;

        aspect-ratio: 9/16;
    }
    
    }