.catalogPagesNavigatorContainer{
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    justify-content: space-evenly;
    background-color: white;
    padding-bottom: 4vh;
}
.catalogPagesNavigatorContainer > button {
    width: 10%;
    aspect-ratio: 1/1.25;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0;
}
.catalogPagesNavigatorContainer > button:first-child , .catalogPagesNavigatorContainer > button:last-child {
    font-size: 1.25rem;
    color: white;
    background-color: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
}
.deactivateMovingBtn{
    opacity: 0.25;
}
.deactivateNumberedBtn{
    opacity: 0.25;
}