.catalogHeader{
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0,0,0,0.85);
    overflow: hidden;
    position: relative;
}
.catalogCategoryName {

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    overflow: hidden;

}

.catalogCategoryName > p {
    font-size: clamp(1rem , 6vw , 1.5rem);
    width: 100%;
    padding-left: 5vw;
    margin: 0;
    text-align: left;
}
.catalogHeaderSearchValue{
    font-size: clamp(1rem , 4vw , 1.5rem) !important;
    color: rgba(0,0,0,0.5) ;
    margin-top: 0.5rem !important;
}
.catalogCategories{
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-wrap: nowrap;
    height: 7.5vh;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 1rem;
    box-sizing: border-box;
}
.catalogCategories > button {
    height: 100%;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25) inset;
    color: rgba(0,0,0,0.85);
    font-size: clamp(1rem , 4vw , 1.5rem);
    box-sizing: border-box;
    white-space: nowrap;
}
.catalogCategories::-webkit-scrollbar{
    display: none;
}
.selectedCategoryBtn{
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.5) inset !important;
    font-weight: 600;
}
.catalogCategories > button:first-child{
    margin-left: 5vw;
}
.catalogCategories > button:last-child{
    margin-right: 5vw;
}

.catalogFilterAndAmountContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    overflow: hidden;
    padding: 0px 5vw 0px 5vw;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0.5rem 0px 0.5rem 0px;
    align-items: center;
}
.catalogProductAmount > p {
 margin: 0;
}
.catalogFilter{
    overflow: hidden;
    height: 50%;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 0;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
    overflow: hidden;
}
.catalogFilter > img {
    height: 100%;
    aspect-ratio: 1;
}