.catalogPagesNavigatorContainer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: white;
    padding-bottom: 4vh;
}
.catalogPagesNavigatorContainer > button {
    width: 10%;
    aspect-ratio: 1/1.25;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.catalogPagesNavigatorContainer > button:first-child , .catalogPagesNavigatorContainer > button:last-child {
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0,0,0,0.85);
}
.deactivateMovingBtn{
    opacity: 0.25;
}
.deactivateNumberedBtn{
    opacity: 0.25;
}